@use '../../utils' as *;

/*----------------------------------------*/
/*  7.1 blog css start
/*----------------------------------------*/

.#{$theme-prifix}-blog{
    &-thumb{
        border-radius: 20px;
        & img{
            border-radius: 20px;
            @include tp-transition-mul(all .6s ease);
        }
    }
    &-tag{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: var(--tp-common-px-black);
        background: rgba(0, 0, 0, 0.08);
        display: inline-block;
        border-radius: 50px;
        padding: 4px 15px;
        line-height: 1;
    }
    &-date{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: var(--tp-common-px-black);
        display: flex;
        align-items: center;
        line-height: 1;
        & svg{
            margin-right: 10px;
        }
    }
    &-tittle{
        font-weight: 500;
        font-size: 26px;
        line-height: 138%;
        letter-spacing: -0.02em;
    }
    &-item{
        &:hover{
            & .tp-blog-thumb{
                & img{
                    transform: scale(1.1);
                }
            }
        }
    }
}