@use '../../utils' as *;

/*----------------------------------------*/
/*  7.1 portfolio css start
/*----------------------------------------*/

.bf-service{
    &-dec{
        font-size: 18px;
        line-height: 167%;
        letter-spacing: -0.02em;
        color: var(--tp-common-px-white);
    }
    &-category{
        padding-left: 50px;
        @media #{$xl,$lg,$md,$sm,$xs}{
            padding-left: 0;
        }
        & span{
            border-radius: 16px;
            padding: 11px 18px;
            font-weight: 600;
            font-size: 13px;
            line-height: 1;
            margin-bottom: 6px;
            font-style: normal;
            display: inline-block;
            letter-spacing: -0.02em;
            color: var(--tp-common-px-white);
            background: rgba(255, 255, 255, 0.08);
            @media #{$xl}{
                font-size: 12px;
            }
            @media #{$lg}{
                padding: 11px 14px;
            }
        }
    }
    &-num{
        & span{
            display: flex;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.04em;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    &-title{
        &-box{
            @media #{$lg,$md,$sm,$xs}{
               padding-top: 0;
            }
        }
        & h4{
            transition: .4s ease-in-out;
            font-weight: 600;
            font-size: 22px;
            text-align: start;
            margin-bottom: 0;
            letter-spacing: -0.04em;
            color: var(--tp-common-px-white);
            @media #{$sm,$xs}{
                font-size: 16px;
            }
        }
    }
    &-thumb{
        flex: 0 0 auto;
        margin-right: 55px;
        @media #{$xl}{
            margin-right: 20px;
        }
        @media #{$sm,$xs}{
            margin-right: 0;
            margin-bottom: 15px;
        }
        & img{
            border-radius: 16px;
        }
    }
    &-content{
        @media #{$lg,$md}{
            padding-bottom: 20px;
        }
        @media #{$sm,$xs}{
            flex-wrap: wrap;
            padding-bottom: 10px;
        }
        & p{
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 0;
            letter-spacing: -0.04em;
            color: rgba(255, 255, 255, 0.6);
            @media #{$xxl}{
                & br{
                    display: none;
                }
            }
            @media #{$xl}{
                font-size: 15px;
                & br{
                    display: none;
                }
            }
            @media #{$lg}{
                font-size: 14px;
                & br{
                    display: none;
                }
            }
        }
    }
    &-accordion{
        &-wrap{
            & .accordion-buttons{
                width: 100%;
            }
            & .accordion-items{
                border-top: 1px solid rgba(255, 255, 255, 0.16);
                border-bottom: 1px solid rgba(255, 255, 255, 0.16);
            }
        }
    }
}

.bf-service{
    &-accordion{
        &-wrap{
            & .accordion{
                & .accordion-items{
                    position: relative;
                    &:not(:last-child){
                        border-bottom: 1px solid rgba(254, 255, 248, 0.08);
                    }
                    & .accordion-header{
                        & .accordion-buttons{
                            text-align: start;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 1;
                            padding: 24px 0;
                            letter-spacing: -0.03em;
                            color: var(--tp-common-px-white);
                            @media #{$xl}{
                                font-size: 25px;
                            }
                            @media #{$lg}{
                                font-size: 22px;
                            }
                            @media #{$md}{
                                font-size: 23px;
                            }
                            @media #{$sm,$xs}{
                                font-size: 22px;
                            }
                            &:not(.collapsed) .accordion-icon::before {
                                transform: translate(-50%, -50%) rotate(90deg);
                            }
                            & .accordion-icon{
                                position: absolute;
                                top: 15px;
                                right: 7px;
                                height: 46px;
                                width: 46px;
                                border-radius: 50%;
                                display: inline-block;
                                border: 1px solid rgba(255, 255, 255, 0.14);
                                @media #{$sm,$xs}{
                                    height: 30px;
                                    width: 30px;
                                }
                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 2px;
                                    height: 14px;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: var(--tp-common-px-white);
                                    border-radius: 2px;
                                    transition: 0.4s;
                                }
                                &::after {
                                    position: absolute;
                                    content: "";
                                    width: 14px;
                                    height: 2px;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: var(--tp-common-px-white);
                                    border-radius: 2px;
                                }
                            }
                            & i{
                                margin-right: 80px;
                                display: inline-block;
                                transform: translateY(-3px);
                            }
                        }
                    }
                    & .accordion-body {
                        padding: 0;
                        padding-top: 20px;
                        padding-bottom: 60px;
                        & p{
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: -0.4px;
                            color: rgba(255, 255, 255, 0.60);
                            @media #{$xl,$lg,$md,$sm,$xs}{
                                & br{
                                    display: none;
                                }
                            }
                        }
                        @media #{$lg,$md,$sm,$xs}{
                            padding-top: 0;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
        &-category{
            & span{
                font-weight: 600;
                font-size: 13px;
                padding: 4px 16px;
                border-radius: 32px;
                display: inline-block;
                text-transform: uppercase;
                color: var(--tp-common-px-white);
                background: rgba(255, 255, 255, 0.06);
                @media #{$sm,$xs}{
                    font-size: 12px;
                    padding: 4px 12px;
                }
            }
        }
    }
}

.bf-service{
    &-item-3{
        padding: 40px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        &:last-child{
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
        &:hover{
            & .row{
                [class*="col-"]{
                    & .bf-service-item-3{
                        &-wrap{
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
        &-wrap{
            transition: .9s ;
            transform: translateX(-340px);
            @media #{$md,$sm,$xs} {
                transform: translateX(0);
            }
            @media #{$sm,$xs} {
                flex-wrap: wrap;
            }
        }
        &-thumb{
            flex: 0 0 auto;
            margin-right: 50px;
            @media #{$md,$sm,$xs} {
                margin-right: 35px;
            }
            @media #{$sm,$xs} {
                width: 100%;
            }
            & img{
                border-radius: 10px;
                @media #{$sm,$xs} {
                    width: 100%;
                }
            }
        }
        &-text{
            @media #{$sm,$xs} {
                padding-top: 30px;
            }
        }
        &-title{
            margin: 0;
            line-height: 1;
            font-size: 50px;
            font-weight: 500;
            letter-spacing: -1px;
            color: var(--tp-common-px-white);
            @media #{$xl,$lg} {
                font-size: 44px;
            }
            @media #{$md,$sm,$xs} {
                font-size: 40px;
            }
        }
        &-tags{
            flex: none;
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;
            animation: marquee-horizontal 30s linear infinite;
            & span{
                font-size: 14px;
                font-weight: 500;
                margin-right: 6px;
                padding: 1px 15px;
                border-radius: 20px;
                white-space: nowrap;
                display: inline-block;
                text-transform: uppercase;
                color: var(--tp-common-px-white);
                background: rgba(255, 255, 255, 0.06);
                border: 1px solid rgba(255, 255, 255, 0.20);
            }
        }
        &-slider{
            position: relative;
            &::after{
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                height: 100%;
                width: 160px;
                display: inline-block;
                background: linear-gradient(-90deg, #151515 0%, rgba(21, 21, 21, 0.00) 100%);
            }
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                height: 100%;
                width: 160px;
                z-index: 1;
                display: inline-block;
                background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0.00) 100%);
            }
        }
        &-wrapper{
            height: 100%;
            text-align: end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-btn{
            @media #{$md,$sm,$xs} {
                margin-bottom: 30px;
            }
            & a{
                display: inline-block;
                & span{
                    height: 60px;
                    width: 60px;
                    display: grid;
                    border-radius: 30px;
                    place-content: center;
                    @include tp-transition();
                    color: var(--tp-common-px-white);
                    border: 1px solid rgba(255, 255, 255, 0.20);
                }
                &:hover{
                    & span{
                        color: var(--tp-common-px-black);
                        background-color: var(--tp-common-px-white);
                    }
                }
            }
        }
    }
    &-heading{
        @media #{$xs}{
            margin-bottom: 20px;
        }
    }
}

.bf-service-3{
    &-rounded{
        border-radius: 20px;
        margin-left: 30px;
        margin-right: 30px;
        @media #{$xxl,$xl,$lg}{
            margin-left: 15px;
            margin-right: 15px;
        }
        @media #{$md,$sm,$xs}{
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
        }
    }
    &-dec{
        font-size: 18px;
        line-height: 167%;
        color: rgba(255, 255, 255, 0.65);
        @media #{$lg,$md,$sm,$xs}{
            & br{
                display: none;
            }
        }
    }
}

.bf-service{
    &-hero{
        &-spacing{
            padding-top: 225px;
            padding-bottom: 170px;
            @media #{$sm,$xs}{
                padding-top: 180px;
                padding-bottom: 140px;
            }
        }
        &-subtitle{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: var(--tp-common-px-white);
        }
        &-title{
            font-weight: 500;
            font-size: 80px;
            line-height: 105%;
            letter-spacing: -0.02em;
            color: var(--tp-common-px-white);
            @media #{$xl}{
                font-size: 70px;
            }
            @media #{$lg,$md}{
                font-size: 60px;
            }
            @media #{$sm,$xs}{
                font-size: 50px;
            }
        }
        &-bottom{
            &-title{
                font-weight: 500;
                font-size: 280px;
                letter-spacing: -0.03em;
                color: rgba(255, 255, 255, 0.3);
                position: absolute;
                bottom: -75px;
                right: 0;
                line-height: 1;
                margin-bottom: 0;
                @media #{$lg,$md,$sm,$xs}{
                    font-size: 150px;
                    bottom: -25px;
                    right: -100px;
                }
                @media #{$xs}{
                    font-size: 100px;
                }
            }
        }
        &-gif{
            @media #{$md,$sm,$xs}{
                padding-top: 30px;
            }
        }
    }
    &-step{
        &-subtitle{
            & span{
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.02em;
                color: var(--tp-grey-px-1);
            }
        }
        &-title{
            font-weight: 500;
            font-size: 50px;
            line-height: 120%;
            letter-spacing: -0.03em;
            @media #{$sm,$xs}{
                font-size: 40px;
            }
        }
        &-item{
            & h4{
                font-weight: 500;
                font-size: 24px;
                letter-spacing: -0.02em;
            }
            & ul{
                & li{
                    list-style: none;
                    & a{
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--tp-common-px-black);
                    }
                }
            }
        }
        &-icon{
            position: absolute;
            top: 0;
            right: 45px;
            @media #{$lg,$md,$sm,$xs}{
                right: 0;
            }
        }
    }
}